In [1]:
# # MOUNTING GOOGLE DRIVE
# from google.colab import drive
# drive.mount('/content/drive')

In [1]:
import os
import json

## Check spider data

In [2]:
# data_path = '/content/drive/MyDrive/CS 685/cs685_project/spider_data'
data_path = '/Users/aishwarya/Downloads/spring23/cs685-NLP/project/spider_data'
print(os.listdir(data_path))

['dev_gold.sql', 'database', '.DS_Store', 'train_others.json', 'train_spider.json', 'tables.json', 'dev.json', 'README.txt', 'train_gold.sql']

In [3]:
for file in ["train_spider.json", "train_others.json", "dev.json", "tables.json"]:
    with open(os.path.join(data_path, file)) as inf:
        sql_data = json.load(inf)
    print(f'File - {file}; length - {len(sql_data)}')

    print('##############################')
    print('Sample data')
    print('##############################')
    counter = 0
    for item in sql_data:
      for k, v in item.items():
        print(f"{k} \t\t - {v}")

      print()
      counter += 1
      if counter > 0: break
    print('##############################')
    print()


folder = 'database'
db_dir = os.path.join(data_path, folder)
all_folders = os.listdir(db_dir)
# all_folders.remove('.DS_Store')
print(f'Number of tables in {folder} - {len(all_folders)}')
# for i in sorted():
#     print(i)

File - train_spider.json; length - 7000
##############################
Sample data
##############################
db_id 		 - department_management
query 		 - SELECT count(*) FROM head WHERE age  >  56
query_toks 		 - ['SELECT', 'count', '(', '*', ')', 'FROM', 'head', 'WHERE', 'age', '>', '56']
query_toks_no_value 		 - ['select', 'count', '(', '*', ')', 'from', 'head', 'where', 'age', '>', 'value']
question 		 - How many heads of the departments are older than 56 ?
question_toks 		 - ['How', 'many', 'heads', 'of', 'the', 'departments', 'are', 'older', 'than', '56', '?']
sql 		 - {'except': None, 'from': {'conds': [], 'table_units': [['table_unit', 1]]}, 'groupBy': [], 'having': [], 'intersect': None, 'limit': None, 'orderBy': [], 'select': [False, [[3, [0, [0, 0, False], None]]]], 'union': None, 'where': [[False, 3, [0, [0, 10, False], None], 56.0, None]]}

##############################

File - train_others.json; length - 1659
##############################
Sample data
##############################
db_id 		 - geo
query 		 - SELECT city_name FROM city WHERE population  =  ( SELECT MAX ( population ) FROM city WHERE state_name  =  "wyoming" ) AND state_name  =  "wyoming";
query_toks 		 - ['SELECT', 'city_name', 'FROM', 'city', 'WHERE', 'population', '=', '(', 'SELECT', 'MAX', '(', 'population', ')', 'FROM', 'city', 'WHERE', 'state_name', '=', '``', 'wyoming', "''", ')', 'AND', 'state_name', '=', '``', 'wyoming', "''", ';']
query_toks_no_value 		 - ['select', 'city_name', 'from', 'city', 'where', 'population', '=', '(', 'select', 'max', '(', 'population', ')', 'from', 'city', 'where', 'state_name', '=', 'value', ')', 'and', 'state_name', '=', 'value']
question 		 - what is the biggest city in wyoming
question_toks 		 - ['what', 'is', 'the', 'biggest', 'city', 'in', 'wyoming']
sql 		 - {'except': None, 'from': {'conds': [], 'table_units': [['table_unit', 1]]}, 'groupBy': [], 'having': [], 'intersect': None, 'limit': None, 'orderBy': [], 'select': [False, [[0, [0, [0, 7, False], None]]]], 'union': None, 'where': [[False, 2, [0, [0, 8, False], None], {'except': None, 'from': {'conds': [], 'table_units': [['table_unit', 1]]}, 'groupBy': [], 'having': [], 'intersect': None, 'limit': None, 'orderBy': [], 'select': [False, [[1, [0, [0, 8, False], None]]]], 'union': None, 'where': [[False, 2, [0, [0, 10, False], None], '"wyoming"', None]]}, None], 'and', [False, 2, [0, [0, 10, False], None], '"wyoming"', None]]}

##############################

File - dev.json; length - 1034
##############################
Sample data
##############################
db_id 		 - concert_singer
query 		 - SELECT count(*) FROM singer
query_toks 		 - ['SELECT', 'count', '(', '*', ')', 'FROM', 'singer']
query_toks_no_value 		 - ['select', 'count', '(', '*', ')', 'from', 'singer']
question 		 - How many singers do we have?
question_toks 		 - ['How', 'many', 'singers', 'do', 'we', 'have', '?']
sql 		 - {'except': None, 'from': {'conds': [], 'table_units': [['table_unit', 1]]}, 'groupBy': [], 'having': [], 'intersect': None, 'limit': None, 'orderBy': [], 'select': [False, [[3, [0, [0, 0, False], None]]]], 'union': None, 'where': []}

##############################

File - tables.json; length - 166
##############################
Sample data
##############################
column_names 		 - [[-1, '*'], [0, 'perpetrator id'], [0, 'people id'], [0, 'date'], [0, 'year'], [0, 'location'], [0, 'country'], [0, 'killed'], [0, 'injured'], [1, 'people id'], [1, 'name'], [1, 'height'], [1, 'weight'], [1, 'home town']]
column_names_original 		 - [[-1, '*'], [0, 'Perpetrator_ID'], [0, 'People_ID'], [0, 'Date'], [0, 'Year'], [0, 'Location'], [0, 'Country'], [0, 'Killed'], [0, 'Injured'], [1, 'People_ID'], [1, 'Name'], [1, 'Height'], [1, 'Weight'], [1, 'Home Town']]
column_types 		 - ['text', 'number', 'number', 'text', 'number', 'text', 'text', 'number', 'number', 'number', 'text', 'number', 'number', 'text']
db_id 		 - perpetrator
foreign_keys 		 - [[2, 9]]
primary_keys 		 - [1, 9]
table_names 		 - ['perpetrator', 'people']
table_names_original 		 - ['perpetrator', 'people']

##############################

Number of tables in database - 167

In [4]:
for file in ["train_spider.json", "train_others.json", "dev.json"]:
# for file in ["dev.json"]:
    with open(os.path.join(data_path, file)) as inf:
        sql_data = json.load(inf)
    print(f'File - {file}; length - {len(sql_data)}')

    print('##############################')
    print('Sample data')
    print('##############################')
    counter = 1
    all_queries = []
    for item in sql_data:
        for k, v in item.items():          
          if k == "query":  all_queries.append(v)

    print('##############################')

    print(f"all_queries - {len(all_queries)}")
    all_queries = list(set(all_queries))
    print(f"all_queries - {len(all_queries)} - after removing duplicate")

    print()
    counts = {}
    check = ['SELECT ', ' FROM ', ' GROUP BY ', ' WHERE ', ' JOIN ', ' MATCH ',
             ' DESC ', ' LIMIT ', ' ORDER BY ', ' HAVING ', ' AS ', ' UNION ',
             ' OR ', ' AND ', ' IN ', ' NOT IN ', ' DISTINCT ', ' max(',
             ' min(', ' avg(', ' count(', ' > ', ' < ', ' = ']
    for idx, query in enumerate(all_queries):
      # print(idx, query)
      for item in check:
        if item in query:
          var_name = item.strip()
          if var_name not in counts.keys():
            counts[var_name] = 0
          counts[var_name] += 1

    print(counts)
    print()

File - train_spider.json; length - 7000
##############################
Sample data
##############################
##############################
all_queries - 7000
all_queries - 3964 - after removing duplicate

{'SELECT': 3964, 'FROM': 3964, 'GROUP BY': 1011, 'count(': 1088, 'DESC': 502, 'LIMIT': 625, 'ORDER BY': 935, 'WHERE': 1941, '=': 2142, 'IN': 154, 'NOT IN': 128, 'JOIN': 1565, 'HAVING': 250, 'AS': 1548, 'AND': 308, 'DISTINCT': 246, 'OR': 126, '>': 410, 'avg(': 265, 'UNION': 35, '<': 161, 'max(': 134, 'min(': 93, 'MATCH': 11}

File - train_others.json; length - 1659
##############################
Sample data
##############################
##############################
all_queries - 1659
all_queries - 750 - after removing duplicate

{'SELECT': 750, 'FROM': 750, 'WHERE': 707, 'JOIN': 482, 'AS': 482, 'DISTINCT': 295, '=': 698, 'DESC': 42, 'LIMIT': 45, 'ORDER BY': 86, 'AND': 296, 'IN': 67, 'GROUP BY': 99, 'HAVING': 20, '>': 106, '<': 21, 'NOT IN': 6}

File - dev.json; length - 1034
##############################
Sample data
##############################
##############################
all_queries - 1034
all_queries - 546 - after removing duplicate

{'SELECT': 546, 'FROM': 546, 'UNION': 7, 'WHERE': 264, 'JOIN': 216, 'AS': 218, '=': 304, 'GROUP BY': 143, 'DESC': 75, 'LIMIT': 100, 'ORDER BY': 126, 'HAVING': 41, 'count(': 182, 'avg(': 36, '>': 57, 'DISTINCT': 27, 'AND': 34, 'min(': 15, '<': 23, 'OR': 19, 'max(': 23, 'IN': 25, 'NOT IN': 23}

## Splitting train_spider.json into train and test

### Combine train_spider and train_others

In [5]:
file = "train_spider.json"
with open(os.path.join(data_path, file)) as inf:
    train_spider = json.load(inf)
print(f'File - {file}; length - {len(train_spider)}')

train_others = []
# file = "train_others.json"
# with open(os.path.join(data_path, file)) as inf:
#     train_others = json.load(inf)
# print(f'File - {file}; length - {len(train_others)}')

combined = train_spider + train_others
print(f'combined length - {len(combined)}')

train_size = 0.9
idx = int(len(combined)*train_size)
print(f'idx - {idx}')

train = combined[:idx]
test = combined[idx:]

print(f'File - train; length - {len(train)}')
print(f'File - test; length - {len(test)}')

File - train_spider.json; length - 7000
combined length - 7000
idx - 6300
File - train; length - 6300
File - test; length - 700

### Check for overlap

In [6]:
train_queries = [item['query'] for item in train]

print(f"train queries - {len(train_queries)}")
train_queries_unq = list(set(train_queries))
print(f"train queries - {len(train_queries_unq)} - after removing duplicates")

test_queries = [item['query'] for item in test]

print(f"test queries - {len(test_queries)}")
test_queries_unq = list(set(test_queries))
print(f"test queries - {len(test_queries_unq)} - after removing duplicates")

common_qs = [q for q in test_queries if q in train_queries]
common_qs = list(set(common_qs))
print(f"common queries - {len(common_qs)}")

train queries - 6300
train queries - 3577 - after removing duplicates
test queries - 700
test queries - 389 - after removing duplicates
common queries - 2

In [7]:
remove_items = []
for item1 in test:
  for dup in common_qs:
    if item1['query'] == dup:
      remove_items.append(item1)
  
len(remove_items)

4

In [8]:
for item in remove_items:
  test.remove(item)
  train.append(item)

len(train), len(test)

(6304, 696)

In [9]:
for list_l in [train, test]:
  all_queries = []
  for item in list_l:
      for k, v in item.items():          
        if k == "query":  all_queries.append(v)

  print(f"all_queries - {len(all_queries)}")
  all_queries = list(set(all_queries))
  print(f"all_queries - {len(all_queries)} - after removing duplicate")

  print('##############################')

all_queries - 6304
all_queries - 3577 - after removing duplicate
##############################
all_queries - 696
all_queries - 387 - after removing duplicate
##############################

In [10]:
data_path_target = "/Users/aishwarya/Downloads/spring23/cs685-NLP/project/data/split"

if not os.path.isdir(data_path_target):
    os.makedirs(data_path_target)

# with open(os.path.join(data_path_target, "spider_combined.json"), 'wt') as out:
#   json.dump(combined, out, sort_keys=True, indent=2, separators=(',', ': '))

with open(os.path.join(data_path_target, "spider_train.json"), 'wt') as out:
  json.dump(train, out, sort_keys=True, indent=2, separators=(',', ': '))

with open(os.path.join(data_path_target, "spider_test.json"), 'wt') as out:
  json.dump(test, out, sort_keys=True, indent=2, separators=(',', ': '))

## Check for overlap in Train-Dev-Test dataset